mat-dialog-content {
  padding: 20px 0;
  max-width: 500px;

  .description {
    line-height: 1.6;
    margin: 0;
  }
}

mat-dialog-actions {
  justify-content: flex-end;
  padding: 16px 0 0 0;
}

mat-dialog-actions {
  justify-content: flex-end;
  padding: 16px 0 0 0;
}
